@charset "utf-8";

// ----- Import -----
// Import Icons
@import "../assets/fontawesome/scss/fontawesome.scss";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


// ----- Variables -----
// Replacing values
$fa-font-path: "../assets/fontawesome/webfonts";
$family-sans-serif: "Nunito", sans-serif;

// Custom variables
$primary: #262626;
$voyager: #262464;
$deltav: #ff4800ff;
$custom-colors: ("voyager": ($voyager), "deltav": ($deltav));


// ----- Files and variables to replace -----
// Icons
@import "../assets/fontawesome/scss/brands.scss";
@import "../assets/fontawesome/scss/solid.scss";

// Bulma theme
@import "../sass/utilities/_all.sass";
@import "../sass/base/_all.sass";
@import "../sass/elements/button.sass";
// @import "../sass/elements/container.sass";
// @import "../sass/elements/title.sass";
// @import "../sass/form/_all.sass";
// @import "../sass/components/navbar.sass";
@import "../sass/layout/hero.sass";
// @import "../sass/layout/section.sass";