---
---


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Proyectos en curso de los semilleros Delta V y Voyager, pertenecientes al 
    Grupo de investigación ASTRA.">
    <title>grupoastra.github.io | En progreso</title>

    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/assets/custom.css">

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="/js/scripts.js"></script>

    {% include analytics.html %}
</head>

{% include navbar.html %}

<body>
    <section class="hero is-halfheight-mobile is-primary">
        <div class="hero-body">
            <div class="container">
                <p class="title">En curso</p>
                <p class="subtitle">Estos son nuestros proyectos y competencias en curso</p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                <!--  -->
                <!--  -->
                <div class="column is-one-third-desktop is-half-tablet">
                    <div class="card">
                        <div class="card-image">
                            <figure class="fill">
                                <img src="/img/voyager/blueprint_cropcopter.png" alt="CropCopter blueprint">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content" align="center">
                                <h1 class="title is-4">CropCopter</h1>
                                Diseño y construcción de dron multirotor con el objetivo de realizar análisis de cultivos con visión artificial.
                            </div>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <a href="/voyager/lines/aeronautics#cropcopter" target="_blank" class="button is-voyager">Ver más</a>
                            </p>
                        </footer>
                    </div>
                </div>
                <!--  -->
                <!--  -->
                <div class="column is-one-third-desktop is-half-tablet">
                    <div class="card">
                        <div class="card-image">
                            <figure class="fill">
                                <img src="/img/voyager/blueprint_software.png" alt="Software blueprint">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content" align="center">
                                <h1 class="title is-4">Desarrollo de software</h1>
                                Creación de un software en Python y C++ con capacidad de lectura y guardado de datos en tiempo real.
                            </div>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <a href="/voyager/lines/commsdata#software" target="_blank" class="button is-voyager">Ver más</a>
                            </p>
                        </footer>
                    </div>
                </div>
                <!--  -->
                <!--  -->
                <div class="column is-one-third-desktop is-half-tablet">
                    <div class="card">
                        <div class="card-image">
                            <figure class="fill">
                                <img src="/img/voyager/blueprint_aeromodelling.png" alt="Aeromodelling blueprint">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content" align="center">
                                <h1 class="title is-4">Aeromodelismo</h1>
                                Diseño, manufactura y análisis de aeromodelos para comprender conceptos aeronáuticos 
                                generales y específicos.
                            </div>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <a href="/voyager/lines/aeronautics#aeromodelling" target="_blank" class="button is-voyager">Ver más</a>
                            </p>
                        </footer>
                    </div>
                </div>
                <!--  -->
                <!--  -->
                <div class="column is-one-third-desktop is-half-tablet">
                    <div class="card">
                        <div class="card-image">
                            <figure class="fill">
                                <img src="/img/voyager/blueprint_helmholtz.png" alt="Helmholtz cage blueprint">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content" align="center">
                                <h1 class="title is-4">Jaula de Helmholtz</h1>
                                Conjunto de tres pares de bobinas independientes con la capacidad de generar un campo electromagnético estable.
                            </div>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <a href="/voyager/lines/orbitalcontrol#helmholtz" target="_blank" class="button is-voyager">Ver más</a>
                            </p>
                        </footer>
                    </div>
                </div>
                <!--  -->
                <!--  -->
                <div class="column is-one-third-desktop is-half-tablet">
                    <div class="card">
                        <div class="card-image">
                            <figure class="fill">
                                <img src="/img/deltav/blueprint_candymotors.png"
                                    alt="Blueprint de motores de propelente solido">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content" align="center">
                                <h1 class="title is-4">Motores - Propelente solido</h1>
                                Investigación, diseño y manufactura de motores de propelente sólido destinados a ser usados en cohetes amateur.
                            </div>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <a href="/deltav/projects/solidmotor" target="_blank" class="button is-deltav">Ver más</a>
                            </p>
                        </footer>
                    </div>
                </div>
                <!--  -->
                <!--  -->
                <div class="column is-one-third-desktop is-half-tablet">
                    <div class="card">
                        <div class="card-image">
                            <figure class="fill">
                                <img src="/img/deltav/blueprint_boeingturbine.png" alt="Boeing turbine blueprint">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content" align="center">
                                <h1 class="title is-4">Turbina Boeing</h1>
                                Estudio de biocombustibles en turborreactores, su rendimiento y consumo frente a combustibles tradicionales.
                            </div>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <a href="/deltav/projects/boeingturbine" target="_blank" class="button is-deltav">Ver más</a>
                            </p>
                        </footer>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
    </section>
</body>

{% include footer.html %}

</html>