<aside class="menu">
    <p class="menu-label" data-section="menu_voyager" data-value="Informacion">Información</p>
    <ul class="menu-list">
        <li><a href="/es/voyager" data-section="menu_voyager" data-value="Nosotros">Nosotros</a></li>
        <li><a href="/es/contact" data-section="menu_voyager" data-value="Contacto">Contacto</a></li>
    </ul>
    <p class="menu-label" data-section="menu_voyager" data-value="Logros">Logros</p>
    <ul class="menu-list">
        <li><a href="/es/voyager/contests" data-section="menu_voyager" data-value="Competencias">Competencias</a></li>
        <li><a href="/es/voyager/publications" data-section="menu_voyager" data-value="Publicaciones">Publicaciones</a></li>
    </ul>
    <p class="menu-label" data-section="menu_voyager" data-value="Lines">Líneas de investigación</p>
    <ul class="menu-list">
        <li><a href="/es/lines/aeronautics" data-section="menu_voyager" data-value="Aero">Aeronáutica</a></li>
        <li><a href="/es/voyager/lines/commsdata" data-section="menu_voyager" data-value="Data">Comunicación y análisis de datos</a></li>
        <li><a href="/es/voyager/lines/orbitalcontrol" data-section="menu_voyager" data-value="Control">Control y mecánica orbital</a></li>
    </ul>
</aside>