<aside class="menu">
    <p class="menu-label">Información</p>
    <ul class="menu-list">
        <li><a href="/voyager">Nosotros</a></li>
        <li><a href="/contact">Contacto</a></li>
    </ul>
    <p class="menu-label">Logros</p>
    <ul class="menu-list">
        <li><a href="/voyager/contests">Competencias</a></li>
        <li><a href="/voyager/publications">Publicaciones</a></li>
    </ul>
    <p class="menu-label">Líneas de investigación</p>
    <ul class="menu-list">
        <li><a href="/voyager/lines/aeronautics">Aeronáutica</a></li>
        <li><a href="/voyager/lines/commsdata">Comunicación y análisis de datos</a></li>
        <li><a href="/voyager/lines/orbitalcontrol">Control y mecánica orbital</a></li>
    </ul>
</aside>