<aside class="menu">
    <p class="menu-label">Información</p>
    <ul class="menu-list">
        <li><a href="/deltav">Nosotros</a></li>
        <li><a href="/contact">Contacto</a></li>
    </ul>
    <p class="menu-label">Logros</p>
    <ul class="menu-list">
        <li><a href="/deltav/contests">Competencias</a></li>
        <li><a href="/deltav/publications">Publicaciones</a></li>
    </ul>
    <p class="menu-label">Proyectos de investigación</p>
    <ul class="menu-list">
        <li><a href="/deltav/projects/solidmotor">Motores de propelente sólido</a></li>
        <li><a href="/deltav/projects/boeingturbine">Turbina Boeing</a></li>
    </ul>
</aside>