<aside class="menu">
    <p class="menu-label" data-section="menu_deltav" data-value="Informacion">Información</p>
    <ul class="menu-list">
        <li><a data-link="deltav" data-section="menu_deltav" data-value="Nosotros">Nosotros</a></li>
        <li><a data-link="contact" data-section="menu_deltav" data-value="Contacto">Contacto</a></li>
    </ul>
    <p class="menu-label" data-section="menu_deltav" data-value="Logros">Logros</p>
    <ul class="menu-list">
        <li><a data-link="deltav/contests" data-section="menu_deltav" data-value="Competencias">Competencias</a></li>
        <li><a data-link="deltav/publications" data-section="menu_deltav" data-value="Publicaciones">Publicaciones</a></li>
    </ul>
    <p class="menu-label" data-section="menu_deltav" data-value="Proyectos">Proyectos de investigación</p>
    <ul class="menu-list">
        <li><a data-link="deltav/projects/solidmotor" data-section="menu_deltav" data-value="Solid">Motores de propelente sólido</a></li>
        <li><a data-link="deltav/projects/boeingturbine" data-section="menu_deltav" data-value="Turbina">Turbina Boeing</a></li>
    </ul>
</aside>