<aside class="menu">
    <p class="menu-label">About</p>
    <ul class="menu-list">
        <li><a href="/events/cicta">Conference</a></li>
        <li><a href="/events/cicta/subjects">Subjects</a></li>
        <li><a href="/events/cicta#contact">Contact</a></li>
    </ul>
    <!-- <p class="menu-label">CICTA X</p>
    <ul class="menu-list">
        <li><a href="/events/cicta/authors">For authors</a></li>
        <!-- <li><a href="#programme">Programme</a></li>
        <li><a href="#guide">For visitors</a></li>
        <li><a href="#ubication">Ubication</a></li>
    </ul> -->
</aside>