<nav class="navbar is-dark">
    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <img src="/icons/astra_blanco.png">
        </a>

        <div role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar" style="padding-right: 5em;">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div>
    </div>

    <div class="navbar-menu" id="navbar">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" data-section ="navbar" data-value ="Semilleros">Semilleros</a>
                <div class="navbar-dropdown">
                    <a data-link = "deltav" class="navbar-item" >Delta V</a>
                    <a data-link="voyager" class="navbar-item">Voyager</a>
                    <hr class="navbar-divider">
                    <a data-link="aerohub" class="navbar-item">Aerohub</a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" data-section ="navbar" data-value ="Eventos">Eventos</a>
                <div class="navbar-dropdown">
                    <a data-link="events/codeac" class="navbar-item">CODEAC</a>
                    <!-- <a href="/events/cicta/" class="navbar-item">CICTA</a> -->
                </div>
            </div>
            <!-- ! REV - revisar links -->
            <a data-link="inprogress" class="navbar-item" data-section ="navbar" data-value ="En_curso">En curso</a>
            <a data-link="contact" class="navbar-item" data-section ="navbar" data-value ="Contacto">Contacto</a>

            
            <div class="grid-container" style = "position:relative; left:400px;">
                <a class="navbar-item" data-language = "es">Spanish</a>                
                <a class="navbar-item" data-language = "en">English</a>

            </div>    
            
            
            
        </div>
    </div>
</nav>