<nav class="navbar is-dark">
    <div class="navbar-brand" style="padding-left: 5em;">
        <a href="/" class="navbar-item">
            <img src="/icons/astra_blanco.png">
        </a>

        <div role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar" style="padding-right: 5em;">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div>
    </div>

    <div class="navbar-menu" id="navbar">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Semilleros</a>
                <div class="navbar-dropdown">
                    <a href="/deltav/" class="navbar-item">Delta V</a>
                    <a href="/voyager/" class="navbar-item">Voyager</a>
                    <hr class="navbar-divider">
                    <a href="/aerohub/" class="navbar-item">Aerohub</a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Eventos</a>
                <div class="navbar-dropdown">
                    <a href="/events/codeac" class="navbar-item">CODEAC</a>
                    <!-- <a href="/events/cicta/" class="navbar-item">CICTA</a> -->
                </div>
            </div>
            <!-- ! REV - revisar links -->
            <a href="/inprogress" class="navbar-item">En curso</a>
            <a href="/contact" class="navbar-item">Contacto</a>
        </div>
    </div>
</nav>