.img-profile {
    margin-bottom: 10px;
    overflow: hidden;
    object-fit: cover;
}

#img-coord {
    height: 15em;
    width: 15em;
    border-radius: 50%;
    filter: grayscale(80%);
    transition: 0.5s ease;
}

#img-coord:hover {
    filter: grayscale(0%);
    transition: 0.5s ease;
}

#img-research {
    height: 10em;
    width: 10em;
}

#img-voyager {
    box-shadow: 
        -3em -3em 0 -2.5em #1d4b73ff,
        3em 3em 0 -2.5em #1d4b73ff;
}

#img-deltav {
    box-shadow: 
        -3em -3em 0 -2.5em #ff4800ff,
        3em 3em 0 -2.5em #ff4800ff;
}

#img-logos {
    width: 20em;
}

#img-contact {
    width: 12em;
}

#img-index {
    width: 10em;
}

.badges {
    width: auto;
}

.column.is-social {
    flex: none;
    width: 22%;
    padding-right: 24px;
    padding-bottom: 6px;
    padding-top: 6px;
}

/* -------------------------------------------------- */

@media (pointer:coarse) {
    #img-coord {
        filter: grayscale(0%);
        transition: 0.5s ease;
    }
}

@media screen and (max-width: 1366px) {
    iframe {
        width: 100%;
    }
  }

@media screen and (max-width: 1215px) {
    #img-coord {
        height: 12em;
        width: 12em;
    }

    #img-research {
        height: 8em;
        width: 8em;
    }
}

@media screen and (max-width: 930px) {
    #img-coord {
        height: 10em;
        width: 10em;
    }

    #img-research {
        height: 6em;
        width: 6em;
    }
}

@media screen and (max-width: 767px) {
    #img-logos {
        width: 14em;
    }

    iframe {
        width: 100%;
        height: 310px;
    }

    img {
        width: 90%;
    }
}