.imagen-coordinadores {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden;
    object-fit: cover;
    filter: grayscale(80%);
    transition: 0.5s ease;
}

.imagen-coordinadores:hover {
    filter: grayscale(0%);
    transition: 0.5s ease;
}

.badges {
    width: auto;
}

.mainimage.is-voyager {
    box-shadow: 
        -50px -50px 0 -40px #1d4b73ff,
        50px 50px 0 -40px #1d4b73ff;
}

.column.is-social {
    flex: none;
    width: 22%;
    padding-right: 24px;
    padding-bottom: 6px;
    padding-top: 6px;
}

/* -------------------------------------------------- */

@media (max-width: 1366px) {
    .imagen-coordinadores {
        height: 190px;
        width: 190px;
    }

    iframe {
        width: 100%;
    }
  }

@media (max-width: 767px) {
    .mainimage.is-voyager {
        box-shadow: 
            -50px -50px 0 -45px #1d4b73ff,
            50px 50px 0 -45px #1d4b73ff;
    }

    iframe {
        width: 100%;
        height: 310px;
    }

    img {
        width: 90%;
    }
}