:root {
    --primary: #262626;
    --primary-light: #3B3B3B;
    --voyager: #262464;
    --deltav: #ff4800ff;

    --codeac-light: #4e7391;
    --codeac-mid: #2E4D6B;
    --codeac-dark: #0d2543;

    --cicta-purple: #7606cc;
    --cicta-purple-dark: #6305AB;
    --cicta-blue: #3506cc;
    --cicta-blue-dark: #270599;

    --bordervalue: 10px;
}



/* *----- IDs -----* */
/* Horizontal Bar */
#color-grey {
    height: 1px;
    background-color: #cccccc;
}

/* Sizes */
#size-logos_index { width: 12em; }
#size-logos_groups { width: 20em; }
#size-logos_contact { width: 14em; }

/* Slideshow */
#slideshow {
    display: flex;
    overflow: hidden;
    position: inherit;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px var(--primary);
    border-radius: var(--bordervalue);
}
.slideshow-normal{
    width: 425px;
    height: 425px;
}
#slideshow>div {
    position: absolute;
}

/* Custom ids */
#voyager-size-mobile{
    width: 80%;
}



/* *----- CLASSES -----* */
/* Hero */
.hero.is-index {
    background: url('/icons/astragif.gif') no-repeat center;
    background-size: cover;
}
.hero.is-codeac {
    background-image: linear-gradient(141deg, var(--primary) 0%, var(--codeac-mid) 70%, var(--codeac-light) 100%);
}
.hero.is-cicta {
    background-image: linear-gradient(141deg, var(--primary) 0%, var(--cicta-blue) 50%, var(--cicta-purple) 70%);
}

/* Figure caption */
.is-caption {
    font-size: small;
    font-style: italic;
}

/* Menu colors */
.menu-list a.is-active {
    background-color: var(--primary);
    color: #fff;
}

/* Multimedia config */
.is-imgframe-hr {
    width: 55%;
    height: auto;
}
.is-imgframe-vr {
    width: 35%;
    height: auto;
}
.is-videoframe {
    width: 560px;
    height: 300px;
}

/* Custom config */
.is-customframe {
    width: 100%;
    height: 600px;
}
.is-customframe-docs {
    width: 100%;
    height: 320px;
}
.just-mobile{
    display: none;
}




/* *----- ELEMENTS -----* */
iframe { border-radius: var(--bordervalue); }



/* *----- MEDIA -----* */
@media screen and (max-width: 1280px) {
    .is-mobile-center {
        text-align: center;
    }

    /* Multimedia config */
    .is-imgframe-hr {
        width: 100%;
        height: auto;
    }
    .is-imgframe-vr {
        width: 75%;
        height: auto;
    }
    .is-videoframe {
        width: 100%;
        height: 200px;
    }

    /* Custom config */
    .is-customframe {
        width: 100%;
        height: 320px;
    }
}


@media screen and (max-width: 768px) {
    /* *----- IDs -----* */
    #slideshow{
        width: 100%;
        height: 300px;
    }
    #voyager-size-mobile{
        width: 100%;
    }
    
    

    /* *----- CLASSES -----* */
    /* Custom config */
    .just-mobile{
        display: block;
    }
    .size-mobile{
        width: 100%;
    }
    .size-mobile-less{
        width: 70%;
    }
}