---
title: About Us
layout: deltav
---

<h1 class="title" csv = "true" id = "index_heading1">¿Quiénes somos?</h1>
<div class="content">
    <div class="columns is-vcentered">
        <div class="column is-one-third">
            <figure align="center">
                <img src="/icons/deltav.png" alt="Delta V logo" id="size-logos_groups">
            </figure>
        </div>
        <div class="column">
            <p csv ="true" id = "index_p1"><b><span style="color: var(--deltav);">Delta V</span></b> es un semillero del pregrado de Ingeniería Aeroespacial de la Universidad de Antioquia, enfocado en la
                investigación sobre cohetería y propulsión en vehículos aeroespaciales. Nuestro objetivo es generar y compartir
                nuevo conocimiento científico, y así impulsar el desarrollo aeroespacial en Colombia.</p>
        </div>
    </div>
</div>

<h2 class="subtitle" csv = "true" id = "index_heading2">Actualidad</h2>
<div class="content">
    <p csv = "true" id = "index_p2">Nos encontramos realizando investigación en problemas reales de la industria aeroespacial como lo son la
        manufactura de propelentes sólidos y el uso de biocombustibles en turbinas a reacción. Nuestra misión es aportar
        al campo con soluciones o alternativas sostenibles a través de avances tecnológicos y científicos.</p>
</div>

<h2 class="subtitle">¿Deseas pertenecer al semillero?</h2>
<div class="content">
    <p>A día de hoy <b>no tenemos ninguna</b> convocatoria activa. Debes estar atento a nuestras redes sociales.</p>
</div>