---
title: Nosotros
layout: voyager
---


<h1 class="title" id = index_heading1 csv= true>¿Quiénes somos?</h1>
<div class="content">
    <div class="columns is-vcentered">
        <div class="column is-one-third">
            <figure align="center"> 
                <img src="/icons/voyager.png" alt="Voyager logo" id="size-logos_groups">
            </figure>
        </div>
        <div class="column">
            <p id = index_p1 csv= true> Voyager es un semillero de investigación...</p>
        </div>
    </div>
</div>
<div class="content">
    <p id = index_p2 csv= true>Con experiencia y destacada participación en concursos nacionales, en los que se han obtenido los
        primeros puestos con el diseño y construcción de pequeños satélites, alas zagi, rovers y demás.
        El semillero, constantemente está en busca de nuevos retos en los que pongamos a prueba nuestras
        habilidades y capacidades de ingenio, creatividad y solución de problemas, donde podamos
        contribuir a la sociedad y construir un mejor mañana.</p>
    <div align="center"> 
        <img id="voyager-size-mobile" src="/img/voyager/voyager.png" alt="Voyager members">
    </div>
</div>

<h2 class="subtitle" id = index_heading2 csv= true>Líneas de investigación</h2>
<div class="content">
    <p id = index_p3 csv= true>Estas son nuestras líneas de investigación y respectivos proyectos activos del semillero.</p>
    <div align="center"> 
        <img class="size-mobile" src="/img/voyager/researchlines.svg" alt="Voyager research lines">
    </div>    
</div>

<h2 class="subtitle" id = index_heading3 csv= true>¿Deseas pertenecer al semillero?</h2>
<div class="content">
    <p id = index_p4 csv= true>A día de hoy <b>no tenemos ninguna</b> convocatoria activa. Normalmente, estas se realizan a inicio de
        semestre por lo que debes estar atento a nuestras redes sociales.</p>
</div>
