<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CICTA | X International Congress of Aerospace Science & Technology</title>

    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/assets/custom.css">

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://rawgithub.com/jwagner/simplex-noise.js/master/simplex-noise.js"></script>
    <script src="/js/scripts.js"></script>

    <style>
        .menu-list a.is-active{
            background-color: var(--cicta-purple-dark);
        }
        .menu-list a:hover {
            background-color: var(--cicta-purple-dark);
            color: white;
        }
        #background{
            background-color: var(--primary);
        }
        #background-light{
            background-color: var(--primary-light);
        }
        #text-white {
            color: white;
        }
    </style>

    {% include analytics.html %}
</head>

{% include navbar.html %}

<body>
    <section class="hero is-halfheight-mobile is-cicta">
        <div class="hero-body">
            <div class="container">
                <p class="title" id="text-white">CICTA</p>
                <p class="subtitle" id="text-white">X International Congress of Aerospace Science & Technology
                    <br><font size="-1">X Congreso Internacional de Ciencia y Tecnología Aeroespacial</font></p>
            </div>
        </div>
    </section>

    <section class="section" id="ref">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-4">
                    {% include menu_cicta.html %}
                </div>
        
                <div class="column is-8">
                    {{ content }}
                </div>
            </div>
        </div>
    </section>
</body>

{% include footer.html %}

</html>
