<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Página web del Congreso de Desarrollo Aeroespacial Colombiano - CODEAC.">
    <title>CODEAC | Congreso de Desarrollo Aeroespacial Colombiano</title>

    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/assets/custom.css">

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="/js/scripts.js"></script>

    <style>
        .menu-list a.is-active {
            background-color: var(--codeac-mid);
            color: #fff;
        }
    </style>
</head>

{% include navbar.html %}

<body>
    <section class="hero is-halfheight-mobile is-primary is-codeac">
        <div class="hero-body">
            <div class="container">
                <p class="title">CODEAC</p>
                <p class="subtitle">Congreso de Desarrollo Aeroespacial Colombiano</p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-4">
                    {% include menu_codeac.html %}
                </div>
        
                <div class="column is-8">
                    {{ content }}
                </div>
            </div>
        </div>
    </section>
</body>

{% include footer.html %}

</html>
