<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Página web del semillero de cohetería y propulsión Delta V, 
    parte del Grupo de investigación ASTRA de la Universidad de Antioquia.">
    <title>Delta V | {{ page.title }}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/assets/custom.css">

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="/js/scripts.js"></script>

    <style>
        .menu-list a.is-active {
            background-color: var(--deltav);
            color: #fff;
        }
    </style>

    {% include analytics.html %}
</head>

{% include navbar.html %}

<body>
    <!-- ! COLOR IS VOYAGER -->
    <section class="hero is-halfheight-mobile is-deltav">
        <div class="hero-body">
            <div class="container">
                <p class="title">Delta V</p>
                <p class="subtitle" data-section="deltav_layout" data-value="subtitle">Semillero de cohetería y propulsión</p>
                <hr id="color-grey">
                <p class="subtitle">{{ page.title }}</p>
            </div>
        </div>
    </section>

    <div class="section">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-4">
                    {% include menu_deltav.html %}
                </div>

                <div class="column is-8">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</body>

{% include footer.html %}

</html>